<style>
         heder{
          background-color: rgb(49, 0, 0);
          color:aliceblue
          text-align: center;
          max-width: 800px;
          margin: 0  auto;
          padding: 16px;
         }
         nain{
          background-color: aliceblue;
          color:rgb(49, 7, 7)
         max-widlh: 800px;
          margin: 0  auto;
          padding: 16px;
         }
         img{
          width: 80px;
          height:
          80px;
         }
        </style>